.login-title{
  vertical-align: center;
  place-content: center;
  text-align: center;
  margin-bottom: 10vh;
}

#title-login{
  font-size: 50px;
  font-family: "Arial Black";
}

/* .login-form{
  display: block;
  margin:auto;
} */

.login-inputs {
  display: grid;
  /* margin-outside: 20px; */
  margin:auto;
}

label {
  font-size: 24px;
  margin-bottom: 12px;
}
#signup{
  float: right;
}

#signup:hover{
  color: #010716;
}

#forgot{
  float: left;
}
#signin:hover{
  color: #010716;
}
a {
  font-size: large;
}
.buttons{
  display:block;
}

.forgot-password{
  margin: auto;
}

.forgot-password button{
  background: blue;
  margin-top: 3vh;
}