header {
    padding: 20px;
    background-color: darkblue;
    height: 10rem;
}

#navbar{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

#navbar-logo{
    margin-left: 10px;
}

#logo{
    float: left;
    width: 4%;
}

.nav-link{
    color: white;
}